
#page {
	background: #E8DAEF;
	margin: 15%;
	border: 10px solid black;
}

html {
	background: white;
	font-family: Monaco; 
	font-size: 15px;
}

h1 {
 	font-size: 4em;	
 }

#h2 {
	font-size: 3,5em;
}

#entete {
 	font-size: 150%;
 	text-align: center;
 }

#aboutme {
	margin-left: 15%;
	margin-right: 15%;
}

footer {
	text-align: center;
	font-size: 15px;
	
}
